#set( $images = "${webResourceHelper.getStaticResourcePrefix()}/download/resources/com.keysight.guidance:guidance-resources/images" )

#if( $autoGuidanceDetectionFailed )
<div class="auto-guidance-detection-failed">The instance of the guidance
macro below is set to automatically determine the guidance term from the 
first word(s) in the body; however, the body did not start with Do,
Consider, Avoid or Do Not.  The automatic detection failed and has been 
defaulted to <strong>DO</strong></div>
#end

<table class="lp-guidance-table">
   <tr>
#if( $guidanceImage )
      <td class="lp-guidance-icon-column" valign="top"><img src="$images/$guidanceImage" 
                                                            alt="$guidance"
                                                            height="$guidanceImageHeight"
                                                            width="$guidanceImageWidth" /></td>
#else
      <td class="lp-guidance-icon-column" valign="top"><span class="lp-guidance-icon $guidanceClass">$guidanceGlyphAsHtml</span></td>
#end

      <td class="lp-guidance-text-column">
#if( $lpExport )
$lpStartTag
$!leadingTagAsHtml<span class="guidance-term"><b>$!guidance</b></span>&nbsp;$!body
$lpEndTag
#else
   #if( $wordOrPdfExport )
      $!leadingTagAsHtml<span class="guidance-term"><b>$!guidance</b></span>&nbsp;$!body
   #else
      $!leadingTagAsHtml<span class="guidance-term">$!guidance</span>&nbsp;$!body
   #end
#end
      </td>
   </tr>
</table>
